<section>
 <h1>Animals Up For Adoption!</h1>

<div class="column">
 <h2>FILTERS</h2>
     <ul>
            <ul>
                <li><a href="/dogs">DOGS</a></li>
                <li><a href="/cats">CATS</a></li>
                <li><a href="/hypoallergenic">HYPOALLERGENIC</a></li>
                <li><a href="/female">FEMALE ANIMALS</a></li>
                <li><a href="/male">MALE ANIMALS</a></li>
            </ul>
    </ul>
</div> 

<div class="column">
    <h3> BROWSE THROUGH OUR ANIMALS! </h3>
           
</div>


</section>