<section>
 <h1>Missing Animals</h1>

<ul>
  {{#each animals}}
    {{#if isMissing}}
      <li>{{name}}</li>
      <li>{{breed}}</li>
      <li>{{age}}</li>
    {{/if}}
  {{/each}}
</ul>

{{#if logged_in}}
  <a href="/postMissing">Report Missing Animal</a>
{{/if}}

</section>