<section>
  <h1>Missing Animals</h1>
    <ul>
      {{#each animals as |animal|}}
        {{#if animal.isMissing}}
          <li>{{animal.name}}</li>
          <li>{{animal.breed}}</li>
          <li>{{animal.age}}</li>
        {{/if}}
    </ul>
  {{else}}
    <p>No missing animals found.</p>
      {{/each}}

  {{#if logged_in}}
    <a href="/postMissing">Report Missing Animal</a>
  {{/if}}
</section>