* {
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color .1s;
    font-size: 15px;
  }

  a:hover {
    color: rgb(120, 170, 120);
  }

  button {
    background-color: rgb(78, 121, 71);
    border: 0;
    padding: 1%;
    color: rgb(231, 238, 231);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: rgb(73, 137, 73);
  }

  .post-list {
    margin: 0;
    padding: 0;
  }

  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }

  textarea {
    min-width: 40%;
    min-height: 100px;
  }

  form > div {
    margin-bottom: 2%;
  }

  form label {
    display: block;
  }

  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  header {
    border-bottom: 3px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }

  header h1 {
    font-size: 1em;
  }

  main {
    flex: 1;
    padding: 2% 4%;
  }

  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }

  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }

  .delete-post-btn {
    background-color: #d41414;
  }

  .delete-post-btn:hover {
    background-color: #ff643d;
  }

  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }

  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }

  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }

  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }

  .upvote-btn:hover {
    background-color: #1f9c13;
  }

  .comment-form {
    margin-bottom: 5%;
  }

  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }

  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }

  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }

  .new-post-form input {
    width: 300px;
  }

  .edit-post-form {
    margin-bottom: 5%;
  }

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

  .card {
    display: flex;
    flex: auto;
    border-style: black;
    border-width: 5px;
  }

  .column {
    float: left;
}

  .left {
      width: 25%;
  }

  .right {
      width: 75%;
  }

  li {
    display: inline-flex;
    width: 100px;
    margin-right: 20px;
    list-style: none;
    border: black;
  }

  .adoption-header {
    color: rgb(99, 137, 99);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
  }


  .nav-item {
    display: inline;
    width: 100px;
    margin: 20px;
    margin-top: 25px;
    list-style: none;
    color: rgb(157, 103, 112);
    font-style: rgb(181, 115, 126);
  }

  #random-photo {
    width: 120px;
  height: 120px;
  }

  /* MAIN.HANDLEBARS */

  /* main title in top corner */
  .main-title {
    color: rgb(228, 228, 228);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 35px;
    font-stretch: expanded;
  }

  .main-background {
    background-color: rgb(156, 198, 156);
  }

  #header-background {
    background-color: rgb(99, 137, 99);
  }

  .top-nav {
    margin: 50px;
  }

  #adopt-animal-cards {
    margin: 20px;
    border: rgb(255, 255, 255);
    border-width: 5px;
    border-style: dotted;
    background-color: rgb(190, 227, 190);

  }

  #random-photo {
    margin: 20px;
  }

  .animal-name {
    color: rgb(13, 48, 13);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }

  .traits {
    color: rgb(72, 103, 72);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }

  .featured-text {
    margin: 15px;
    font-size: 23px;
    color: #496946;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .col-md-5 {
    background-color: #bedfba;
    margin: 35px;
    border-radius: 15px;
  }

  #random-featured-photo {
    height: 200px;
    width: 200px;
    margin: 30px;
    border: rgb(255, 254, 254);
    border-style:solid;
    border-width: 10px;
  }

  .missing-animal-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: 44, 69, 45;
    text-align: center;
    font-size: 45px;
    border-bottom: 3px solid rgb(44, 69, 45);
  }

  .animal {
    background-color: #c9e9c6;
    color: 44, 69, 45;
    margin: 20px;
  }

  .miss-animal-name {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    border-bottom: 2px solid rgb(75, 117, 76);
  }

  .miss-animal-desc {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
  }

  .add-miss-animal {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }